@import "~bootstrap/scss/bootstrap";

.background-container {
    background: rgb(246, 144, 30);
    background: linear-gradient(
        180deg,
        rgba(246, 144, 30, 1) 0%,
        rgba(204, 51, 51, 1) 75%
    );
    min-height: 100vh;
    padding-bottom: 50px; /* Adjust this if you have a fixed footer */
    overflow: hidden; /* Prevents content from going underneath */
}

header {
    background-color: transparent; /* Remove background color to let the gradient show */
    color: #fff;
}

.container {
    margin-bottom: 25px;
}
.card {
    &.custom-card {
        height: 100%;
        padding: 25px;
        border-radius: 8%;

        .card-content {
            height: 100%;
            display: flex;
            flex-direction: column;

            .card-img-container {
                width: 300px;
                height: 300px;
                overflow: hidden;
                margin: 0 auto;
                display: flex;
                justify-content: center;
                align-items: center;
            
                img {
                    flex-shrink: 0;
                    min-width: 100%; 
                    min-height: 100%; 
                    object-fit: cover;
                    aspect-ratio: 1;
                }
                .round-image {
                    border-radius: 50%;
                }
            }           

            .card-details {
                color: black;
                flex-grow: 1;
                display: flex;
                flex-direction: column;
                justify-content: center;

                h5 {
                    line-height: 1;
                }

            }
        }
    }
}

.category-pill {
    border: 1px solid rgba(246, 144, 30, 1);;
    color: black;
    padding: 5px 10px; 
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    border-radius: 12px; 
    list-style-type: none;
    font-size: 14px; 
}


// .custom-card-2 {
//     background-color: white;
//     height: 100%;
//     padding: 25px;
//     border-radius: 8%;
//     color: black;
//     h1 {
//         font-size: 24px;
//     }
//     h2 {
//         font-size: 18px;
//     }
// }

.form-style-1 {
    background-color: rgba(255, 255, 255, 0.2);
    padding: 35px;
    border-radius: 10%;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(255, 255, 255);
    -webkit-box-shadow: none rgb(255, 255, 255);
    transition: background-color 5000s ease-in-out 0s;
}

.input-style-1,
div {
    text-align: left;
    color: white;
    width: 100%;
    border: 0;
    padding: 5px 0;
    margin: 0;
    background: transparent;
    font: 16px sans-serif;
    outline: none;
}

.field-input {
    border-bottom: 2px solid white;
}

.field-input > a {
    text-decoration: none;
    color: white;
}

.form-style-2 {
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    textarea:-webkit-autofill,
    textarea:-webkit-autofill:hover,
    textarea:-webkit-autofill:focus,
    select:-webkit-autofill,
    select:-webkit-autofill:hover,
    select:-webkit-autofill:focus {
    -webkit-text-fill-color: rgb(0, 0, 0);
    -webkit-box-shadow: none rgb(255, 255, 255);
    transition: background-color 5000s ease-in-out 0s;
}
}

.button-style-1 {
    background-color: #ffffff;
    border: none;
    width: 100%;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
        a {
        text-decoration: none;
        color: black;
        }
}

.button-style-1:hover {
    background-color: #f48c20;
    a {
        text-decoration: none;
        color: white;
        }
}

.logo-header {
    width: 200px;
}

img {
    width: 100%;
}

.button-style-2 {
    background-color:rgba(246, 144, 30, 1);
    border: none;
    width: 100%;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
        a {
        text-decoration: none;
        color: white;
        }
        button {
            color: white;
            border: none;
            background-color: transparent;
        }
}

.button-style-2:hover {
    background-color: #CC3234;
    a {
        text-decoration: none;
        color: white;
        }
}

.card-details i {
    color: black;
}


.button-style-3 {
    background-color:rgb(255, 255, 255);
    border: none;
    width: 100%;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 24px;
        a {
        text-decoration: none;
        color: white;
        }
        button {
            color: white;
            border: none;
            background-color: transparent;
        }
}